.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Manrope", sans-serif;
}

.paper {
  min-width: 420px;
}

.title {
  font-weight: 800;
  font-family: "Manrope";
  margin-bottom: 24px;
}

input {
  font-family: "Manrope", sans-serif;
}
