.container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.group {
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  font-family: "Manrope", sans-serif;
}

.text {
  margin-bottom: 24px;
}
