.header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 200px;
}

.addButton {
  background-color: #5fcc55;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #4eac46;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.productList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}
