@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  min-width: 100vw;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

button span,
form span {
  display: inline;
  height: auto;
  font-family: inherit;
  font-size: inherit;
}
